name: XCTests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test Bit Slicer on macOS
    runs-on: macos-13

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        env:
            DEVELOPER_DIR: '/Applications/Xcode_15.0.1.app/Contents/Developer'
        run: |
          xcodebuild build-for-testing -target 'Bit Slicer Tests' -scheme 'Bit Slicer' CODE_SIGN_IDENTITY="-"
      - name: Test
        run: |
          xcodebuild test-without-building -target 'Bit Slicer Tests' -scheme 'Bit Slicer'
